@{
    ViewData["Title"] = "Dashboard Page";
}
@using Rocket_Elevators_Customer_Portal.Models;
@using System.Collections.Generic;
@using System.Net.Http;
@using System.Net.Http.Headers;
@using System.Net.Http.Json;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model Tuple<IEnumerable<Tuple<Rocket_Elevators_Customer_Portal.Models.Building, Rocket_Elevators_Customer_Portal.Models.Battery, Rocket_Elevators_Customer_Portal.Models.Column, Rocket_Elevators_Customer_Portal.Models.Elevator>>, Rocket_Elevators_Customer_Portal.Views.Home.DashboardModel.InputModel>
@{
    HttpClient client = new HttpClient();
    client.DefaultRequestHeaders.Accept.Clear();
    client.DefaultRequestHeaders.Accept.Add(
        new MediaTypeWithQualityHeaderValue("application/vnd.github.v3+json"));
    client.DefaultRequestHeaders.Add("User-Agent", ".NET Foundation Repository Reporter");
    var customerID = await client.GetFromJsonAsync<Int32>("https://hidden-woodland-68127.herokuapp.com/api/customers/" + @User.Identity.Name);
    List<Building> clientBuildings = await client.GetFromJsonAsync<List<Building>>("https://hidden-woodland-68127.herokuapp.com/api/buildings/customer/" + customerID);

    List<Battery> dumpBatteriesList = await client.GetFromJsonAsync<List<Battery>>("https://hidden-woodland-68127.herokuapp.com/api/batteries");


    List<Battery> clientBatteries = new List<Battery>();
    foreach (var b in clientBuildings)
    {
        clientBatteries.AddRange(dumpBatteriesList.Where(battery => battery.building_id == b.id).ToList());
    }


    List<Column> dumpColumnsList = await client.GetFromJsonAsync<List<Column>>("https://hidden-woodland-68127.herokuapp.com/api/columns");
    List<Column> clientColumns = new List<Column>();
    foreach (var b in clientBatteries)
    {
        clientColumns.AddRange(dumpColumnsList.Where(column => column.battery_id == b.id).ToList());
    }


    List<Elevator> dumpElevatorsList = await client.GetFromJsonAsync<List<Elevator>>("https://hidden-woodland-68127.herokuapp.com/api/elevators");
    List<Elevator> clientElevators = new List<Elevator>();
    foreach (var c in clientColumns)
    {
        clientElevators.AddRange(dumpElevatorsList.Where(elevator => elevator.column_id == c.id).ToList());
    }

}

<div class="text-center d-flex justify-content-center">
    <h1 class="display-4">Welcome @User.Identity.Name!</h1>
</div>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-building-tab" data-toggle="pill" href="#pills-building" role="tab" aria-controls="pills-building" aria-selected="true">Buildings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-battery-tab" data-toggle="pill" href="#pills-battery" role="tab" aria-controls="pills-battery" aria-selected="false">Batteries</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-column-tab" data-toggle="pill" href="#pills-column" role="tab" aria-controls="pills-column" aria-selected="false">Columns</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-elevator-tab" data-toggle="pill" href="#pills-elevator" role="tab" aria-controls="pills-elevator" aria-selected="false">Elevators</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-intervention-tab" data-toggle="pill" href="#pills-intervention" role="tab" aria-controls="pills-intervention" aria-selected="false">Create an Intervention</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-building" role="tabpanel" aria-labelledby="pills-building-tab">
        <div class="d-flex justify-content-center">
            <table class="table table-hover table-bordered table-striped table-dark">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Building Admin
                        </th>
                        <th>
                            Building Email
                        </th>
                        <th>
                            Building Phone
                        </th>
                        <th>
                            Building Technician
                        </th>
                        <th>
                            Technician Email
                        </th>
                        <th>
                            Technician Phone
                        </th>
                        <th>
                            Created At
                        </th>
                        <th>
                            Updated At
                        </th>
                        <th>
                            Customer #
                        </th>
                        <th>
                            Address #
                        </th>
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in clientBuildings)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.full_name_of_the_building_administrator)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email_of_the_administrator_of_the_building)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone_number_of_the_building_administrator)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.full_name_of_the_technical_contact_for_the_building)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.technical_contact_email_for_the_building)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.technical_contact_phone_for_the_building)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.created_at)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.updated_at)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.customer_id)
                            </td>
                            <td>
                                <a href="#">@Html.DisplayFor(modelItem => item.address_id)</a>
                            </td>
                            @*<td>
                                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-battery" role="tabpanel" aria-labelledby="pills-battery-tab">
        <div class="d-flex justify-content-center">
            <table class="table table-hover table-bordered table-striped table-dark">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Commissioned
                        </th>
                        <th>
                            Last Inspection
                        </th>
                        <th>
                            Certificate #
                        </th>
                        <th>
                            Information
                        </th>
                        <th>
                            Notes
                        </th>
                        <th>
                            Created At
                        </th>
                        <th>
                            Updated At
                        </th>
                        <th>
                            Building #
                        </th>
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in clientBatteries)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.entity_type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date_of_commissioning)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date_of_last_inspection)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.certificate_of_operations)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.information)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.notes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.created_at)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.updated_at)
                            </td>
                            <td>
                                <a href="#" onclick="showBuilding();">@Html.DisplayFor(modelItem => item.building_id)</a>
                            </td>
                            @*<td>
                                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-column" role="tabpanel" aria-labelledby="pills-column-tab">
        <div class="d-flex justify-content-center">
            <table class="table table-hover table-bordered table-striped table-dark">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Floors
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Information
                        </th>
                        <th>
                            Notes
                        </th>
                        <th>
                            Created At
                        </th>
                        <th>
                            Updated At
                        </th>
                        <th>
                            Battery#
                        </th>
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in clientColumns)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.entity_type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.number_of_floors_served)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.information)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.notes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.created_at)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.updated_at)
                            </td>
                            <td>
                                <a href="#" onclick="showBattery();">@Html.DisplayFor(modelItem => item.battery_id)</a>
                            </td>
                            @*<td>
                                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-elevator" role="tabpanel" aria-labelledby="pills-elevator-tab">
        <div class="d-flex justify-content-center">
            <table class="table table-hover table-bordered table-striped table-dark">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Serial #
                        </th>
                        <th>
                            Model
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Commissioned
                        </th>
                        <th>
                            Last Inspection
                        </th>
                        <th>
                            Certificate
                        </th>
                        <th>
                            Information
                        </th>
                        <th>
                            Notes
                        </th>
                        <th>
                            Created At
                        </th>
                        <th>
                            Updated At
                        </th>
                        <th>
                            Column #
                        </th>
                        <th>
                            Intervention
                        </th>
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in clientElevators)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.serial_number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.entity_type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date_of_commissioning)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date_of_last_inspection)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.certificate_of_inspection)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.information)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Notes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.created_at)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.updated_at)
                            </td>
                            <td>
                                <a href="#" onclick="showColumn();">@Html.DisplayFor(modelItem => item.column_id)</a>
                            </td>
                            <td>
                                <a href="#" onclick="prepareIntervention();"> Created an Intervention</a>
                            </td>
                            @*<td>
                                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-intervention" role="tabpanel" aria-labelledby="pills-intervention-tab">
        <div>
            <div class="d-flex justify-content-center">
                <h1 class="display-3">Intervention Page</h1>
            </div>
            <hr style="width:70%">
                <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
                <div class="col">
                    <label for="author"><strong>Author</strong></label>
                    <input class="form-control" id="author" type="text" name="author" value=@User.Identity.Name placeholder=@User.Identity.Name readonly>
                </div>
                <div class="col">
                    <label for="customerId"><strong>Customer</strong></label>
                    <input class="form-control" id="customerId" type="text" name="customerID" value=@customerID placeholder=@customerID readonly>
                </div>
                <div class="col">
                    <label for="buildings"><strong>Building</strong></label>
                    <select class="custom-select" name="buildings " id="buildings" required>
                        <option value="">Choose a Building</option>
                        @foreach (var b in clientBuildings)
                        {
                            <option value=@b.id>building#@b.id</option>
                        }
                    </select>
                </div>
                <div class="col">
                    <label for="batteries"><strong>Battery</strong></label>
                    <select class="custom-select" name="batteries " id="batteries" required>
                        <option value="">Choose a Battery</option>
                        @foreach (var b in clientBatteries)
                        {
                            <option value=@b.id>battery#@b.id</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="columns"><strong>Column</strong></label>
                    <select class="custom-select" name="columns " id="columns">
                        <option value="">None</option>
                        @foreach (var c in clientColumns)
                        {
                            <option value=@c.id>columns#@c.id</option>
                        }
                    </select>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label for="elevators"><strong>Elevator</strong></label>
                        <select class="custom-select" name="elevators " id="elevators">
                            <option value="">None</option>
                            @foreach (var e in clientElevators)
                            {
                                <option value=@e.id>elevators#@e.id</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <!-- Message input -->
            <div class="row">
                <div class="col">
                    <label class="form-label" for="reports"><strong>Report</strong></label>
                    <textarea class="form-control" id="reports" rows="4"></textarea>
                </div>
            </div>

            <!-- Submit button -->
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mb-4" onclick="sendIntervention();">Submit Intervention</button>
            </div>
        </div>
    </div>
</div>
<script>
    function showBuilding() {
        $('#pills-tab a[href="#pills-building"]').tab('show')
    }
    function showBattery() {
        $('#pills-tab a[href="#pills-battery"]').tab('show')
    }
    function showColumn() {
        $('#pills-tab a[href="#pills-column"]').tab('show')
    }
    function prepareIntervention() {
        console.log("welcome hello people");
        @*$('#pills-tab a[href="#pills-intervention"]').tab('show')*@
    }
    function sendIntervention() {
        var author = document.getElementById("author").value;
        var customerId = document.getElementById("customerId").value;
        var buildingId = document.getElementById("buildings").value;
        var batteryId = document.getElementById("batteries").value;
        var columnId = document.getElementById("columns").value;
        var elevatorId = document.getElementById("elevators").value;
        var report = document.getElementById("reports").value;
        const intervention = {
            "author": "danidanidanidani",
            "start_date": "2018-03-22T11:32:08",
            "end_date": "2018-03-22T11:32:08",
            "result": "Incomplete",
            "report": "report",
            "status": "Pending",
            "customer_id": 1,
            "building_id": 1,
            "battery_id": 1,
            "column_id": 1,
            "elevator_id": 1,
            "employee_id": 1
        };


        console.log("are you hereare you hereare you hereare you hereare you hereare you hereare you hereare you hereare you hereare you hereare you hereare you hereare you here");
        const putMethod = {
            method: 'POST', // Method itself
        }
        var interventionJson = JSON.stringify(intervention);
        fetch(`/Home/Dashboard?author=${author}&start_date=${null}&end_date=${null}&result=Incomplete&report=${report}&status=Pending&customer_id=${customerId}&building_id=${buildingId}&battery_id=${batteryId}&column_id=${columnId}&elevator_id=${elevatorId}&employee_id=${null}`, putMethod)

        console.log("wow pogo 2")

        //var yes = JSON.stringify(intervention);
        @*$.ajax({
            type: 'POST',
            dataType: 'JSON',
            data: {
                author: "author",
                start_date: "2018-03-22T11:32:08",
                end_date: "2018-03-22T11:32:08",
                result: "Incomplete",
                report: "report",
                status: "Pending",
                customer_id: 1,
                building_id: 1,
                battery_id: 1,
                column_id: 1,
                elevator_id: 1,
                employee_id: 1
            },
            url: '/Home/Dashboard',
            contentType: 'application/json',
            success: function (response) {
                alert("criss")
                console.log("yes");
            },
            error: function (response) {
                alert("pogo")
                console.log("yes but no");
            }
        });*@

        @*console.log("wow pogo");*@

        @*const putMethod = {
            method: 'POST', // Method itself
            headers: new Headers({
                'Content-Type': 'application/json' // Indicates the content
            }),
            body: JSON.stringify(intervention) // We send data in JSON format
        }
        // make the HTTP post request using fetch api
        fetch("https://hidden-woodland-68127.herokuapp.com/api/interventions", putMethod)
            .then(response => response.json())
            .then(data => console.log(data)) // Manipulate the data retrieved back, if we want to do something with it
            .catch(err => console.log(err)) // Do something with the error*@
    }
</script>